.gym {
  width: 100%;
  background-color: $color-default-white;
}

.gym__container {
  padding-top: 7.5rem;
  padding-bottom: 14.7rem;

  position: relative;

  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @include vp-1199 {
    padding-top: 6.25rem;
    padding-bottom: 11.3rem;

    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
  }

  @include vp-767 {
    padding-top: 3.9rem;
    padding-bottom: 4.38rem;

    row-gap: 2rem;
  }
}

.gym__wrapper {
  width: 41.19rem;

  padding-top: 2.38rem;
  padding-left: 3.75rem;

  @include vp-1919 {
    width: 26.19rem;
  }

  @include vp-1199 {
    width: 33.38rem;
    text-align: center;

    padding: 0;
    margin-left: 0;
  }

  @include vp-767 {
    width: 100%;
    text-align: start;
  }
}

.gym__wrapper h3 {
  @include AlumniSans600;
  font-size: 3em;
  line-height: 1.21em;
  letter-spacing: 0.03em;

  margin: 0 0 0.5rem;

  @include vp-1199 {
    font-size: 2.63em;
    line-height: 1.19em;

    margin: 0 0 0 -1rem;
  }

  @include vp-767 {
    font-size: 2em;
    line-height: 1.19em;

    margin: 0 0 0.4rem;
  }
}

.gym__wrapper p {
  font-size: 1.13em;
  line-height: 150%;

  margin: 0 0 2.49rem;

  @include vp-1199 {
    margin: 0 0 2.1rem;
  }

  @include vp-767 {
    margin: 0 0 1.45rem;
  }
}

.gym__wrap p {
  @include RobotoCondensed300;
  font-size: 1em;
  line-height: 150%;

  margin: 0 0 0.4rem;

  @include vp-767 {
    margin: 0;
  }
}

.gym__wrapper-img {
  width: 57%;
  height: 0;
  padding-bottom: 34.5%;
  position: relative;

  background-color: #ebfdff;

  @include vp-1199 {
    width: 100%;
    height: 0;
    padding-bottom: 51%;
  }

  @include vp-767 {
    width: calc(100% + 30px);
    padding-bottom: 108%;
    margin-bottom: 0.5rem;
  }
}

.gym__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.gym__video-wrapper {
  position: absolute;
  width: 26.6%;
  top: 408px;
  left: 39.6%;
  height: 0;
  padding-bottom: 16.8%;
  background-color: #000000;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
  }

  &:hover .gym__video-button {
    opacity: 0.8;
  }

  @include vp-1365 {
    left: 44.6%;
  }

  @include vp-1199 {
    width: 34.6%;
    top: 68.8%;
    left: 32.7%;
    padding-bottom: 21.7%;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    left: 0;

    width: calc(100% + 30px);
    padding-bottom: 58%;
  }
}

.gym__video-wrapper--after {
  &::after {
    display: none;
  }
}

.gym__video-link {
  display: block;
}

.gym__video-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
  position: absolute;
}

.gym__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  width: 72px;
  height: 72px;
  background: linear-gradient(44.89deg, #003d85 25.38%, #b80027 74.89%);
  border: none;
  border-radius: 50%;

  cursor: pointer;

  display: none;

  &::before {
    content: "";
    width: 100px;
    height: 100px;
    background-image: url("../img/svg/box-shadow-play.svg");
    background-repeat: no-repeat;

    position: absolute;
    top: -55%;
    left: -55%;
    right: 0;
    bottom: 0;
    transform: translate(25%, 25%);
    z-index: -1;
  }

  &::after {
    content: "";
    background-image: url("../img/svg/play.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    z-index: 1;
  }

  &:focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    &::after {
      width: 12px;
      height: 12px;

      background-image: url("../img/svg/play-tablet.svg");
    }

    &::before {
      width: 72px;
      height: 72px;

      background-image: url("../img/svg/box-shadow-play-tablet.svg");
    }
  }
}

.gym__video-wrapper--enebled {
  cursor: pointer;
}

.gym__video-wrapper--enebled .gym__video-button {
  display: block;
}
