.gym {
  width: 100%;
  background-color: $color-default-white;
}

.gym__container {
  padding-top: 7.5rem;
  padding-bottom: 15.1rem;

  position: relative;

  display: flex;
  justify-content: space-between;
  gap: 2rem;

  @include vp-1199 {
    padding-top: 6.25rem;
    padding-bottom: 11.44rem;

    flex-direction: column;
    align-items: center;
    row-gap: 0.6rem;
  }

  @include vp-767 {
    padding-top: 4.38rem;
    padding-bottom: 4.38rem;

    row-gap: 2.5rem;
  }
}

.gym__wrapper {
  width: 26.19rem;

  padding-top: 2.38rem;
  padding-left: 3.75rem;

  @include vp-1199 {
    width: 33.38rem;
    text-align: center;

    padding: 0;
    margin-left: 0;
  }

  @include vp-767 {
    width: 100%;
    text-align: start;
  }
}

.gym__wrapper h3 {
  @include AlumniSans600;
  font-size: 3em;
  line-height: 1.21em;
  letter-spacing: 0.03em;

  margin: 0 0 0.5rem;

  @include vp-1199 {
    font-size: 2.63em;
    line-height: 1.19em;

    margin: 0 0 0 -1rem;
  }

  @include vp-767 {
    font-size: 2em;
    line-height: 1.19em;

    margin: 0;
  }
}

.gym__wrapper p {
  font-size: 1.13em;
  line-height: 150%;

  margin: 0 0 2.49rem;

  @include vp-1199 {
    margin: 0 0 2.1rem;
  }
}

.gym__wrap p {
  @include RobotoCondensed300;
  font-size: 1em;
  line-height: 150%;

  margin: 0 0 0.4rem;
}

.gym__wrapper-img {
  width: 57%;
  min-height: 25.1rem;

  @include vp-1199 {
    width: 100%;
    min-height: 21.56rem;
  }

  @include vp-767 {
    width: calc(100% + 30px);
    min-height: 19.56rem;
  }
}

.gym__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  @include vp-767 {
    min-height: 19.56rem;
  }
}

.gym__video-wrapper {
  position: absolute;
  width: 34.6%;
  top: 53.7%;
  left: 39.6%;
  min-height: 14.25rem;
  background-color: #000000;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(20, 54, 122, 0.5);
    z-index: 1;
  }

  &:hover .gym__video-button {
    opacity: 0.8;
  }

  @include vp-1199 {
    width: 34.6%;
    min-height: 10.44rem;
    top: 63.8%;
    left: 32.7%;
  }

  @include vp-767 {
    position: relative;
    top: 0;
    left: 0;

    width: calc(100% + 30px);
    min-height: 10.43rem;
  }
}

.gym__video-link {
  display: block;
}

.gym__video-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;

  @include vp-767 {
    min-height: 10.43rem;
  }
}

.gym__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);

  width: 72px;
  height: 72px;
  background: linear-gradient(44.89deg, #003D85 25.38%, #B80027 74.89%);
  border: none;
  border-radius: 50%;

  cursor: pointer;

  display: none;

  &::after {
    content: "";
    background-image: url("../img/svg/play.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
  }

  &:focus {
    opacity: 0.8;
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    &::after {
      width: 12px;
      height: 12px;

      background-image: url('../img/svg/play-tablet.svg');
    }
  }
}

.gym__video-wrapper--enebled {
  cursor: pointer;

  & .gym__video-button {
    display: block;
  }
}
