.subscription {
  width: 100%;
  background-color: #f8f9fc;
}

.subscription__container {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;

  text-align: center;

  @include vp-1199 {
    padding-top: 6.4rem;
    padding-bottom: 6.2rem;
  }

  @include vp-767 {
    padding-top: 4rem;
    padding-bottom: 4.4rem;
  }
}

.subscription__container h3 {
  @include title;
  margin: 0 0 1.1rem;

  @include vp-767 {
    margin: 0 0 1.35rem;
  }
}

.subscription__wrapper {
  display: inline-flex;
  gap: 2.88rem;
  justify-content: center;
  margin-bottom: 2.44rem;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.13rem;
    background-color: rgba(120, 120, 120, 0.2);
  }

  @include vp-1199 {
    gap: 3.38rem;

    margin-bottom: 2.8rem;
  }

  @include vp-767 {
    gap: 2.85rem;
    margin-bottom: 2.1rem;
  }
}

.subscription__wrapper label {
  font-size: 1.25em;
  line-height: 150%;

  position: relative;

  color: rgba(16, 38, 84, 0.5);

  padding-bottom: 0.75rem;
  cursor: pointer;

  @include vp-1199 {
    font-size: 1.13em;
    line-height: 150%;

    padding-bottom: 1rem;
  }

  @include vp-767 {
    font-size: 1em;
    line-height: 150%;
  }
}

input[type=radio] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

input[type=radio]:checked + label,
input[type=radio]:focus + label {
  color: $color-default-black;
}

input[type=radio]:checked + label::after {
  content: "";
  width: 100%;
  height: 0.13rem;
  background-color: #d10a42;

  position: absolute;
  bottom: 0;
  left: 0;
}

.subscription__tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  gap: 1.5rem;
  justify-content: space-between;

  @include vp-1199 {
    flex-direction: column;
    padding: 0 7.4rem;
    gap: 2.5rem;
  }

  @include vp-767 {
    padding: 0;
    gap: 2.3rem;
  }
}

.subscription__item {
  background-color: $color-default-white;

  padding: 3.4rem 4.5rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  border: 7px solid transparent;

  &:hover {
    border: 7px solid;
    border-image: linear-gradient(to left top, #00359F, #D10A42);
    border-image-slice: 1;
  }

  &:hover .subscription__link {
    color: $color-default-white;
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
    outline: none;
  }

  @include vp-1199 {
    padding: 3.4rem 7rem 4rem;
  }

  @include vp-767 {
    padding: 2.7rem 2rem 3rem;
  }
}

.subscription__item--active {
  border: 7px solid;
  border-image: linear-gradient(to left top, #00359F, #D10A42);
  border-image-slice: 1;
  padding: 3.46rem 4.46rem 3.81rem;

  & .subscription__link {
    color: $color-default-white;
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
    outline: none;
  }
}

.subscription__item h4 {
  @include RobotoCondensed700;
  font-size: 1.63em;
  line-height: 1.12em;

  margin: 0 0 0.6rem;

  @include vp-767 {
    font-size: 1.38em;
    line-height: 110.16%;
  }
}

.subscription__text {
  margin-bottom: 4rem;

  @include vp-767 {
    margin-bottom: 3.3rem;
  }
}

.subscription__text span {
  color: #495a7d;
}

.subscription__price {
  position: relative;
  z-index: 2;

  margin-bottom: 2.3rem;

  @include vp-767 {
    margin-bottom: 2rem;
  }
}

.subscription__price p {
  @include RobotoCondensed700;
  font-size: 3.75em;
  line-height: 150%;

  color: #103AAE;
  margin: 0;
  text-align: start;

  display: flex;
  gap: 0.88rem;
  align-items: center;

  position: relative;
  z-index: 2;

  &::after {
    content: "";
    background-image: url("../img/svg/ruble.svg");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 1.88rem;
    height: 2.63rem;

    @include vp-767 {
      width: 1.5rem;
      height: 2.06rem;
    }
  }

  @include vp-767 {
    font-size: 3em;
    line-height: 150%;

    gap: 0.7rem;
  }
}

.subscription__price-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -12%;

  & span {
    @include RobotoCondensed700;
    font-size: 6.25em;
    line-height: 150%;
    color: #e8e8e8;
    opacity: 0.48;

    position: absolute;
    left: 0;
    bottom: -9%;

    @include vp-767 {
      font-size: 5em;
      line-height: 150%;
    }
  }
}

.subscription__link {
  display: block;

  @include button;
  outline: 2px solid #102654;
  padding: 1.6rem 2.7rem 1.4rem;

  &:hover {
    color: $color-default-white;
    outline: none;
    background: linear-gradient(97.05deg, #ED0233 17.6%, #003EB7 95.31%);
  }

  @include vp-1365 {
    padding: 1.6rem 1.5rem 1.4rem;
  }

  @include vp-1199 {
    padding: 1.6rem 2.7rem 1.4rem;
  }

  @include vp-767 {
    width: 100%;
  }
}
