.container {
  width: 100%;
  max-width: 2600px;
  margin: 0 auto;
  padding: 0 40px;

  @include vp-1439 {
    padding-left: 6.44em;
    padding-right: 6.44em;
  }

  @include vp-1199 {
    padding-left: 2.81em;
    padding-right: 2.81em;
  }

  @include vp-767 {
    padding-left: 0.94em;
    padding-right: 0.94em;
  }
}
