@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 0.06em)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 0.06em)) {
    @content;
  }
}

@mixin vp-1365 {
  @media (max-width: ($vp-1366 - 0.06em)) {
    @content;
  }
}

@mixin vp-1199 {
  @media (max-width: ($vp-1200 - 0.06em)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 0.06em)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 0.06em)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 0.06em)) {
    @content;
  }
}

//fonts
@mixin AlumniSans600 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin AlumniSans800 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 800;
}

@mixin RobotoCondensed700 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}

@mixin RobotoCondensed300 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin RobotoCondensed400 {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}

// all

@mixin button {
  @include RobotoCondensed700;
  font-size: 0.75em;
  line-height: 1.17em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  user-select: none;
}

@mixin title {
  @include AlumniSans600;
  font-size: 3.38em;
  line-height: 1.2em;
  letter-spacing: 0.03em;

  margin: 0;

  @include vp-1199 {
    font-size: 2.63em;
    line-height: 1.19em;
  }

  @include vp-767 {
    font-size: 2em;
    line-height: 1.19em;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта
